extends layout-dv

block body
	script.
		$(function(){
			var len = $("#second-col").height();
			$("#first-col img, #third-col img").css("height", len+"px");
		})
	-var c1 = categories.splice(0,4);
	-var c2 = categories;
	style .glyphicon-camera{color:#cb3837} #second-col section:last-child{margin-bottom:0;}
	section
		section.container
			section.row
				-if(breaking && breaking.length)
					hr
					-each article in breaking
						a(href='/'+article.article_number).breaking-news.col-md-12
							h5 ކުއްލި ޚަބަރު
							h1=article.title
							-if(article.image)
								img(src=article.image.file.sizes.large)
							br
							br

					hr(style='margin-top:0')
			section.row(style='margin-top:20px;')
				-var top = homepage_main_top ? homepage_main_top : homepage_main.main_article
				-if(top)
					section.col-md-6#first-col
						a(href="/" + top.article_number).news-el.news-el-3
							-if(top.live_event)
								span.label.label-success.label-live ވަގުތުން
							img.img-responsive(src=top.image ? top.image.file.sizes.large: "")
							h3(style='font-size:22px;line-height:35px;font-weight:normal;')=top.title
				section.col-md-3#second-col
					a(href="/" + homepage_main.second_main_article.article_number).news-el.news-el-2b
						-if(homepage_main.second_main_article.live_event)
							span.label.label-success.label-live ވަގުތުން
						h3=homepage_main.second_main_article.title
						img.img-responsive(src=homepage_main.second_main_article.image ? homepage_main.second_main_article.image.file.sizes.mediumsmall: "")
					-if(homepage_main.primary_article_list.length)
						-each article in homepage_main.primary_article_list
							section.news-el-4.col-md-12
								a(href="/" + article.article_number)
									section.row(style='padding:5px;background:white;')
										section.col-md-5(style='margin-right:0;padding-right:0;')
											-if(article.image)
												img.img-responsive(src=article.image.file.sizes.small)
										section.col-md-7(style='padding:0px;margin:0px')
											-if(article.entry_type == "Gallery")
												span
													span.glyphicon.glyphicon-camera
													| &nbsp #{article.title}
											-else
												span=article.title
											div(style='direction:ltr;font-family:sans-serif;text-align:right')
												-if(article.live_event)
													span.pull-right.label.label-success.label-live ވަގުތުން
													small=article.time_pretty
													small &nbsp;
												-else
													small=article.time_pretty
				section.col-md-3#third-col
					-if(typeof ads != 'undefined' && ads.homepage_top_left)
						-var ad = ads.homepage_top_left && ads.homepage_top_left.length ? ads.homepage_top_left[Math.floor(Math.random()*ads.homepage_top_left.length)] : ads;
						section
							img(src="/statics/ads/" + ad.file_name).ad-img.img-responsive
			hr
	section.container
		section.row
			section.col-md-12
				section.row.homepage-category

				section.col-md-8.col-md-offset-2
					-if(ads.homepage_above_top_news)
						-each ad in ads.homepage_above_top_news
							section
								img(src="http://placehold.it/800x90?text=advertisement1").img-responsive

				
				br
				section.row.homepage-category
					//raajje, maqbool, gallery
					-if(categories_keys['ރާއްޖެ'])
						section.col-md-6
							section.row
								section.col-md-12
									h4.homepage-category-heading
										a(href="/category/ރާއްޖެ") ރާއްޖެ
								section.col-md-8
									-console.log(categories_keys)
									-var article = categories_keys['ރާއްޖެ'].articles.pop();
									-if(article)
										a(href="/" + article.article_number).news-el.news-el-2
											-if(article.image && article.image.file)
												img.img-responsive(src=article.image.file.sizes.medium)
											h3=article.title
								section.col-md-4
									-each article in categories_keys['ރާއްޖެ'].articles
										-if(article && article.article_number)
												a(href="/" + article.article_number)
													section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
														section.col-md-12(style='padding:0px;margin:0px')
															-if(article.entry_type == "Gallery")
																span
																	span.glyphicon.glyphicon-camera
																	| &nbsp #{article.title}
															-else
																span=article.title
															div(style='direction:ltr;font-family:sans-serif;text-align:right')
																-if(article.live_event)
																	span.pull-right.label.label-success.label-live ވަގުތުން
																	small=article.time_pretty
																	small &nbsp;
																-else
																	small=article.time_pretty
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/gallery") އެންމެ މަޤުބޫލް
						-each article in popular
							section.news-el-4.col-md-12
								a(href="/" + article.article_number)
									section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
										section.col-md-3(style='margin-right:0;padding-right:0;')
											-if(article.image)
												img.img-responsive(src=article.image.file.sizes.small)
										section.col-md-9(style='padding:0px;margin:0px')
											-if(article.entry_type == "Gallery")
												span
													span.glyphicon.glyphicon-camera
													| &nbsp #{article.title}
											-else
												span=article.title
											div(style='direction:ltr;font-family:sans-serif;text-align:right')
												-if(article.live_event)
													span.pull-right.label.label-success.label-live ވަގުތުން
													small=article.time_pretty
													small &nbsp;
												-else
													small=article.time_pretty
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/gallery") ގެލެރީ
						-each article in galleries
							section.news-el-4.col-md-12
								a(href="/" + article.article_number)
									section.row(style='padding:5px;background:white;')
										section.col-md-12(style='padding:0px;margin:0px')
											img.img-responsive(src=article.image.file.sizes.medium)
											-if(article.entry_type == "Gallery")
												span
													span.glyphicon.glyphicon-camera
													| &nbsp #{article.title}
											-else
												span=article.title
											div(style='direction:ltr;font-family:sans-serif;text-align:right')
												-if(article.live_event)
													span.pull-right.label.label-success.label-live ވަގުތުން
													small=article.time_pretty
													small &nbsp;
												-else
													small=article.time_pretty
				section.row.homepage-category
					//dhuniye, siyaasee, ad
					-if(categories_keys['ދުނިޔެ'])
						section.col-md-6
							section.row
								section.col-md-12
									h4.homepage-category-heading
										a(href="/category/ދުނިޔެ") ދުނިޔެ
								section.col-md-8
									-var article = categories_keys['ދުނިޔެ'].articles.pop();
									-if(article)
										a(href="/" + article.article_number).news-el.news-el-2
											-if(article.image && article.image.file)
												img.img-responsive(src=article.image.file.sizes.medium)
											h3=article.title
								section.col-md-4
									-each article in categories_keys['ދުނިޔެ'].articles
										-if(article && article.article_number)
												a(href="/" + article.article_number)
													section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
														section.col-md-12(style='padding:0px;margin:0px')
															-if(article.entry_type == "Gallery")
																span
																	span.glyphicon.glyphicon-camera
																	| &nbsp #{article.title}
															-else
																span=article.title
															div(style='direction:ltr;font-family:sans-serif;text-align:right')
																-if(article.live_event)
																	span.pull-right.label.label-success.label-live ވަގުތުން
																	small=article.time_pretty
																	small &nbsp;
																-else
																	small=article.time_pretty
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/gallery") ސިޔާސީ
						-if(categories_keys['ސިޔާސީ'])
							-var article = categories_keys['ސިޔާސީ'].articles.pop();
								section.news-el-4.col-md-12
									a(href="/" + article.article_number)
										section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
											section.col-md-3(style='margin-right:0;padding-right:0;')
												-if(article.image)
													img.img-responsive(src=article.image.file.sizes.small)
											section.col-md-9(style='padding:0px;margin:0px')
												-if(article.entry_type == "Gallery")
													span
														span.glyphicon.glyphicon-camera
														| &nbsp #{article.title}
												-else
													span=article.title
												div(style='direction:ltr;font-family:sans-serif;text-align:right')
													-if(article.live_event)
														span.pull-right.label.label-success.label-live ވަގުތުން
														small=article.time_pretty
														small &nbsp;
													-else
														small=article.time_pretty
					section.col-md-3
						-if(typeof ads != 'undefined' && ads.homepage_top_left)
							-var ad = ads.homepage_top_left && ads.homepage_top_left.length ? ads.homepage_top_left[Math.floor(Math.random()*ads.homepage_top_left.length)] : ads;
							section
								img(src="/statics/ads/" + ad.file_name).ad-img.img-responsive
				section.row
					section.col-md-6
						img(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=592%C3%9790&w=592&h=90').img-responsive
					section.col-md-6
						img(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=592%C3%9790&w=592&h=90').img-responsive
				section.row.homepage-category
					//kulhivaru, sihhathu, column
						section.col-md-6
							section.row
								section.col-md-12
									h4.homepage-category-heading
										a(href="/category/ކުޅިވަރު") ކުޅިވަރު
								-if(categories_keys['ކުޅިވަރު'])
									section.col-md-8
										-var article = categories_keys['ކުޅިވަރު'].articles.pop();
										-if(article)
											a(href="/" + article.article_number).news-el.news-el-2
												-if(article.image && article.image.file)
													img.img-responsive(src=article.image.file.sizes.medium)
												h3=article.title
									section.col-md-4
										-each article in categories_keys['ކުޅިވަރު'].articles
											-if(article && article.article_number)
													a(href="/" + article.article_number)
														section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
															section.col-md-12(style='padding:0px;margin:0px')
																-if(article.entry_type == "Gallery")
																	span
																		span.glyphicon.glyphicon-camera
																		| &nbsp #{article.title}
																-else
																	span=article.title
																div(style='direction:ltr;font-family:sans-serif;text-align:right')
																	-if(article.live_event)
																		span.pull-right.label.label-success.label-live ވަގުތުން
																		small=article.time_pretty
																		small &nbsp;
																	-else
																		small=article.time_pretty

					-categories_keys['ސިއްހަތު'] = categories_keys['ސިއްހަތު']  ? categories_keys['ސިއްހަތު'] : categories_keys['ސިއްޙަތު'];
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/ސިއްހަތު") ސިއްހަތު
						-if(categories_keys['ސިއްހަތު'])
							-var article = categories_keys['ސިއްހަތު'].articles.pop();
								section.news-el-4.col-md-12
									a(href="/" + article.article_number)
										section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
											section.col-md-3(style='margin-right:0;padding-right:0;')
												-if(article.image)
													img.img-responsive(src=article.image.file.sizes.small)
											section.col-md-9(style='padding:0px;margin:0px')
												-if(article.entry_type == "Gallery")
													span
														span.glyphicon.glyphicon-camera
														| &nbsp #{article.title}
												-else
													span=article.title
												div(style='direction:ltr;font-family:sans-serif;text-align:right')
													-if(article.live_event)
														span.pull-right.label.label-success.label-live ވަގުތުން
														small=article.time_pretty
														small &nbsp;
													-else
														small=article.time_pretty
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/gallery") ކޮލަމް
						-if(categories_keys['ކޮލަމް'])
							-var article = categories_keys['ކޮލަމް'].articles.pop();
								section.news-el-4.col-md-12
									a(href="/" + article.article_number)
										section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
											section.col-md-3(style='margin-right:0;padding-right:0;')
												-if(article.image)
													img.img-responsive(src=article.image.file.sizes.small)
											section.col-md-9(style='padding:0px;margin:0px')
												-if(article.entry_type == "Gallery")
													span
														span.glyphicon.glyphicon-camera
														| &nbsp #{article.title}
												-else
													span=article.title
												div(style='direction:ltr;font-family:sans-serif;text-align:right')
													-if(article.live_event)
														span.pull-right.label.label-success.label-live ވަގުތުން
														small=article.time_pretty
														small &nbsp;
													-else
														small=article.time_pretty
				section.row.homepage-category
					//viyafaari, lifestyle, dheenee
						section.col-md-6
							section.row
								section.col-md-12
									h4.homepage-category-heading
										a(href="/category/ވިޔަފާރި") ވިޔަފާރި
									-if(categories_keys['ވިޔަފާރި'])
										section.col-md-8
											-var article = categories_keys['ވިޔަފާރި'].articles.pop();
											-if(article)
												a(href="/" + article.article_number).news-el.news-el-2
													-if(article.image && article.image.file)
														img.img-responsive(src=article.image.file.sizes.medium)
													h3=article.title
										section.col-md-4
											-each article in categories_keys['ވިޔަފާރި'].articles
												-if(article && article.article_number)
														a(href="/" + article.article_number)
															section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
																section.col-md-12(style='padding:0px;margin:0px')
																	-if(article.entry_type == "Gallery")
																		span
																			span.glyphicon.glyphicon-camera
																			| &nbsp #{article.title}
																	-else
																		span=article.title
																	div(style='direction:ltr;font-family:sans-serif;text-align:right')
																		-if(article.live_event)
																			span.pull-right.label.label-success.label-live ވަގުތުން
																			small=article.time_pretty
																			small &nbsp;
																		-else
																			small=article.time_pretty

					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/ލައިފްސްޓައިލް") ލައިފްސްޓައިލް
						-if(categories_keys['ލައިފްސްޓައިލް'])
							-var article = categories_keys['ލައިފްސްޓައިލް'].articles.pop();
								section.news-el-4.col-md-12
									a(href="/" + article.article_number)
										section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
											section.col-md-3(style='margin-right:0;padding-right:0;')
												-if(article.image)
													img.img-responsive(src=article.image.file.sizes.small)
											section.col-md-9(style='padding:0px;margin:0px')
												-if(article.entry_type == "Gallery")
													span
														span.glyphicon.glyphicon-camera
														| &nbsp #{article.title}
												-else
													span=article.title
												div(style='direction:ltr;font-family:sans-serif;text-align:right')
													-if(article.live_event)
														span.pull-right.label.label-success.label-live ވަގުތުން
														small=article.time_pretty
														small &nbsp;
													-else
														small=article.time_pretty
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/gallery") ދީން
						-if(categories_keys['ދީން'])
							-var article = categories_keys['ދީން'].articles.pop();
								section.news-el-4.col-md-12
									a(href="/" + article.article_number)
										section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
											section.col-md-3(style='margin-right:0;padding-right:0;')
												-if(article.image)
													img.img-responsive(src=article.image.file.sizes.small)
											section.col-md-9(style='padding:0px;margin:0px')
												-if(article.entry_type == "Gallery")
													span
														span.glyphicon.glyphicon-camera
														| &nbsp #{article.title}
												-else
													span=article.title
												div(style='direction:ltr;font-family:sans-serif;text-align:right')
													-if(article.live_event)
														span.pull-right.label.label-success.label-live ވަގުތުން
														small=article.time_pretty
														small &nbsp;
													-else
														small=article.time_pretty
				section.row.homepage-category
					//munifoohi filuvun, ad, vaahaka
					section.col-md-6
						section.row
							section.col-md-12
								h4.homepage-category-heading
									a(href="/category/މުނިފޫހިފިލުވުން") މުނިފޫހިފިލުވުން
							-if(categories_keys['މުނިފޫހިފިލުވުން'])
								section.col-md-8
									-var article = categories_keys['މުނިފޫހިފިލުވުން'].articles.pop();
									-if(article)
										a(href="/" + article.article_number).news-el.news-el-2
											-if(article.image && article.image.file)
												img.img-responsive(src=article.image.file.sizes.medium)
											h3=article.title
								section.col-md-4
									-each article in categories_keys['ދުނިޔެ'].articles
										-if(article && article.article_number)
												a(href="/" + article.article_number)
													section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
														section.col-md-12(style='padding:0px;margin:0px')
															-if(article.entry_type == "Gallery")
																span
																	span.glyphicon.glyphicon-camera
																	| &nbsp #{article.title}
															-else
																span=article.title
															div(style='direction:ltr;font-family:sans-serif;text-align:right')
																-if(article.live_event)
																	span.pull-right.label.label-success.label-live ވަގުތުން
																	small=article.time_pretty
																	small &nbsp;
																-else
																	small=article.time_pretty
					section.col-md-3
						-if(typeof ads != 'undefined' && ads.homepage_top_left)
							-var ad = ads.homepage_top_left && ads.homepage_top_left.length ? ads.homepage_top_left[Math.floor(Math.random()*ads.homepage_top_left.length)] : ads;
							section
								img(src="/statics/ads/" + ad.file_name).ad-img.img-responsive
					section.col-md-3
						h4.homepage-category-heading
							a(href="/category/gallery") ވާހަކަ
						-if(categories_keys['ވާހަކަ'])
							-var article = categories_keys['ވާހަކަ'].articles.pop();
								section.news-el-4.col-md-12
									a(href="/" + article.article_number)
										section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
											section.col-md-3(style='margin-right:0;padding-right:0;')
												-if(article.image)
													img.img-responsive(src=article.image.file.sizes.small)
											section.col-md-9(style='padding:0px;margin:0px')
												-if(article.entry_type == "Gallery")
													span
														span.glyphicon.glyphicon-camera
														| &nbsp #{article.title}
												-else
													span=article.title
												div(style='direction:ltr;font-family:sans-serif;text-align:right')
													-if(article.live_event)
														span.pull-right.label.label-success.label-live ވަގުތުން
														small=article.time_pretty
														small &nbsp;
													-else
														small=article.time_pretty

			//
				-each category in c1
					section.row.homepage-category
						section.col-md-12
							h4.homepage-category-heading
								a(href="")=category.category
						section.col-md-4
							-var article = category.articles.pop();
							-if(article)
								a(href="/" + article.article_number).news-el.news-el-2
									-if(article.image && article.image.file)
										img.img-responsive(src=article.image.file.sizes.medium)
									h3=article.title
						section.col-md-4
							-each article in category.articles
								-if(article && article.article_number)
										a(href="/" + article.article_number)
											section.row(style='padding:5px;background:white;border-bottom:solid 1px #f0f0f0;')
												section.col-md-5(style='margin-right:0;padding-right:0;')
													-if(article.image)
														img.img-responsive(src=article.image.file.sizes.small)
												section.col-md-7(style='padding:0px;margin:0px')
													-if(article.entry_type == "Gallery")
														span
															span.glyphicon.glyphicon-camera
															| &nbsp #{article.title}
													-else
														span=article.title
													div(style='direction:ltr;font-family:sans-serif;text-align:right')
														-if(article.live_event)
															span.pull-right.label.label-success.label-live ވަގުތުން
															small=article.time_pretty
															small &nbsp;
														-else
															small=article.time_pretty
						-if(category.category == "ރާއްޖެ")
							section.col-md-4
								div.fb-page(data-href="https://www.facebook.com/facebook", data-small-header="true", data-adapt-container-width="true",data-hide-cover="false", data-show-facepile="true")
									div.fb-xfbml-parse-ignore
										blockquote(cite="https://www.facebook.com/facebook")
										a(href="https://www.facebook.com/facebook") Facebook
								img(src="http://placehold.it/415x200?text=advertisement").img-responsive

						-else
							section.col-md-4
								-var article = category.articles.pop();
								-if(article)
									a(href="/" + article.article_number).news-el.news-el-2
										-if(article.image && article.image.file)
											img.img-responsive(src=article.image.file.sizes.medium)
										h3=article.title