-var tid = ~~(Math.random() * 100000000);
-var modal_id = "modal_" + tid;
-var modal_form_id = "modal_" + tid;
div.modal.fade.user-edit-settings-modal(tabindex="-1", role="dialog", aria-hidden="true", id=modal_id)
	div.modal-dialog.modal-md
		div.modal-content
			div.modal-header
				button(type='button', data-dismiss='modal').close
					span(aria-hidden='true') &times;
					span.sr-only close
				h4.modal-title Add media to album
			div.modal-body
				form.jumbotron
					section.form-group
						label Select multiple files
						input(type='file', multiple).file-select
						br
						br
						section
							span.btn.btn-info.upload Upload files
				section.files-display
script.
	$(function(){
		$("##{modal_id} ").modal('show');
		$('body').on('click', '##{modal_id} .upload', function(){
			var files = $('##{modal_id} .file-select');
			files = files.get(0).files;
			var form = new FormData();
			if(!files.length){
				return alert('no file selected');
			}
			for(var i in files){
				if(files.hasOwnProperty(i) && files[i] instanceof File){
					form.append(i, files[i]);
				}
			}
			var req =  superagent.post('/media/image?type=bulk&album=#{album}')
			.send(form)
			//.set('Content-Type', 'application/json')
			.end(function(err, res){
				$(".modal").modal('hide');
			})

		})

	});