section.row
	section.col-md-4
		section.insight-box
			h3 Total articles
			h1=data.total
	section.col-md-4
		section.insight-box
			h3 Articles Today
			h1=data.total_today
	section.col-md-4
		section.insight-box
			h3 Week
			h1=data.total_week
	section.col-md-4
		section.insight-box
			h3 Month
			h1=data.total_month
	section.col-md-4
		section.insight-box
			h3 Year
			h1=data.total_year
hr
section.row
	section.col-md-4
		section.insight-box
			h3 Top articles today
			table.table
				thead
					tr
						th Views
						th Title
				tbody
					-each a in data.top_today
						tr
							td=a.views
							td.thaana
								a(href='/'+a.article_number).thaana=a.title
	section.col-md-4
		section.insight-box
			h3 Top articles week
			table.table
				thead
					tr
						th Views
						th Title
				tbody
					-each a in data.top_week
						tr
							td=a.views
							td.thaana
								a(href='/'+a.article_number).thaana=a.title
	section.col-md-4
		section.insight-box
			h3 Top articles all time
			table.table
				thead
					tr
						th Views
						th Title
				tbody
					-each a in data.top_all
						tr
							td=a.views
							td.thaana
								a(href='/'+a.article_number).thaana=a.title
